<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ROBOTACETOGENWS.Properties.Settings.SGBINTEGRACIONConnectionString"
            connectionString="Data Source=cloud4.loditec.cl,2402;Initial Catalog=SGBINTEGRACION;User ID=sa;Password=dinamita"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>